<!-- About -->
<section class="about d-flex align-items-center text-black py-5" id="about">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <h2 class="headline" style="padding-top:3rem;"><span class="home_text">ABOUT US</span></h2>
                <h1>Your Trusted Mortgage & Finance Partner</h1>
                <p class="py-2 para-black">
                    At <strong style="color:#7F51E8;">Smart Choice Mortgage & Finance</strong>, we are committed to helping Australians make informed and confident financial decisions. Whether you're a first-time homebuyer, refinancing, or expanding your investment portfolio — we provide tailored mortgage and finance solutions to suit your needs.
                </p>
                <p class="py-2 para-black">
                    With years of experience and deep industry knowledge, we pride ourselves on transparency, customer care, and finding the smartest lending choices for you. Let us guide you every step of the way toward your financial goals.
                </p>

                <div class="my-3">
                    <a class="btn btn-primary px-4 py-2" style="background-color: #7F51E8; border-radius: 25px; color: white; font-weight: bold;border-image-slice: 0;" href="Booking.html">
                        Learn More About Us
                    </a>
                </div>
            </div>

            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                <img 
                    class="img-fluid glow-hover-img" 
                    src="./assets/images/SmartChoiceMortgageandFinance_about_us.png" 
                    alt="about">
            </div>

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->
