<!-- Banking Partners Slider -->
<section class="location text-light py-5">
    <div class="container" data-aos="zoom-in">
        <h2 class="text-center mb-5">Our Banking Partners</h2>
        
        <div class="swiper-container banking-partners-slider">
            <div class="swiper-wrapper">
                <!-- Slide 1 (4 partners) -->
                <div class="swiper-slide">
                    <div class="row justify-content-center">
                        <!-- Partner 1 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.commbank.com.au" target="_blank">
                                <img src="./assets/banks/commbank.png" alt="Commonwealth Bank" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">Commonwealth Bank</p>
                            </a>
                        </div>
                        <!-- Partner 2 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.westpac.com.au" target="_blank">
                                <img src="./assets/banks/westpac.png" alt="Westpac" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">Westpac</p>
                            </a>
                        </div>
                        <!-- Partner 3 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.anz.com.au" target="_blank">
                                <img src="./assets/banks/anz.png" alt="ANZ" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">ANZ</p>
                            </a>
                        </div>
                        <!-- Partner 4 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.nab.com.au" target="_blank">
                                <img src="./assets/banks/nab.png" alt="NAB" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">NAB</p>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Slide 2 (3 partners) -->
                <div class="swiper-slide">
                    <div class="row justify-content-center">
                        <!-- Partner 5 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.bendigobank.com.au" target="_blank">
                                <img src="./assets/banks/bendigo.png" alt="Bendigo Bank" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">Bendigo Bank</p>
                            </a>
                        </div>
                        <!-- Partner 6 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.suncorp.com.au" target="_blank">
                                <img src="./assets/banks/suncorp.png" alt="Suncorp" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">Suncorp</p>
                            </a>
                        </div>
                        <!-- Partner 7 -->
                        <div class="col-6 col-md-3 mb-4">
                            <a href="https://www.bankofqueensland.com.au" target="_blank">
                                <img src="./assets/banks/boq.png" alt="Bank of Queensland" class="img-fluid mb-2" style="max-height: 60px;">
                                <p class="mt-2">Bank of QLD</p>
                            </a>
                        </div>
                        <!-- Empty column to maintain layout -->
                        <div class="col-6 col-md-3 mb-4"></div>
                    </div>
                </div>
            </div>
            
            <!-- Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>