<!-- Bottom 
<div class="bottom py-1 text-light">
    <div class="container d-flex justify-content-between flex-wrap align-items-center">
        <p class="mb-0 bottom-text">© 2024 Smart Choice Mortgage and Finance.<wbr>All rights reserved.</p>
        <a href="https://aryalshiva.com.np/" target="_blank" class="text-light bottom-text">Designed by Shiva Aryal</a>
    </div> <!-- end of container -->
</div> <!-- end of bottom -->
<!-- End of Bottom -->

<style>
    .bottom-text {
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        .bottom-text {
            font-size: 0.7rem;
        }
    }

    @media (max-width: 576px) {
        .bottom-text {
            font-size: 0.5rem;
        }
    }
</style>
