    <!-- Footer -->
    <section class="footer text-light">
        <div class="container">
        <div class="container">
            <div class="row" data-aos="fade-right">
                <div class="col-lg-3 py-4 py-md-5">
                    <div class="d-flex align-items-center">
                        <h4 class="">Smart Choice Mortgage and Finance</h4>
                    </div>
                    <p class="py-3 para-light">Trusted support for mortgages, financial loans and tailored services helping you make confident, informed choices for a secure financial future</p>    <div class="d-flex">
                        <div class="me-3">
                            <a href="https://www.facebook.com/share/18kddmUjnd/?mibextid=wwXIfr">
                                <i class="fab fa-facebook-f fa-2x py-2"></i>
                            </a>
                        </div>
                        
                        <div class="me-3">
                            <a href="https://www.linkedin.com/in/suresh-soti-39ab7795/" target="_blank">
                                <i class="fab fa-linkedin-in fa-2x py-2"></i>
                            </a>
                        </div>
                    </div>
                </div> <!-- end of col -->

                <div class="col-lg-3 py-4 py-md-5">
                    <div>
                        <h4 class="py-2">Quick Links</h4>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-caret-right"></i>
                            <a href="Mortgage_calculator.html"><p class="ms-3">Borrowing Capacity</p></a>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-caret-right"></i>
                            <a href="financial_calculator.html"><p class="ms-3">Financial Calculators</p></a>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-caret-right"></i>
                            <a href="#faq"><p class="ms-3">FAQ</p></a>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-caret-right"></i>
                            <a href="booking.html"><p class="ms-3">Booking</p></a>
                        </div>
                    </div>
                </div> <!-- end of col -->

                <div class="col-lg-3 py-4 py-md-5">
                    <div>
                    <h4 class="py-2">Downloads </h4>
                    <!-- New PDF download links with paper icon -->
                    <div class="d-flex align-items-center">
                        <i class="fas fa-file-alt"></i>
                        <a href="./assets/images/documents/Credit_guide_SmartChoceMortgageandFinance_Loans.pdf" target="_blank">
                            <p class="ms-3">Credit Guide - SmartChoice<wbr> Mortgage and Finance</p>
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <i class="fas fa-file-alt"></i>
                        <a href="./assets/images/documents/SmartChoiceMortgageandFinance.pdf" target="_blank">
                            <p class="ms-3">Disclaimer & Privacy</p>
                        </a>
                    </div>
                </div>
                </div> <!-- end of col -->

                 <div class="col-lg-3 py-4 py-md-5">
                    <div class="d-flex align-items-center">
                        <h4>Contact Us</h4>
                        </div>
                        <p class="py-3 para-light">Reach out for Inquiries & Support. We're here to help you achieve your financial goals.</p>
                        <ul class="list-unstyled">    <li class="d-flex align-items-center">
                            <i class="fas fa-phone-alt me-2"></i>
                            <a href="tel:0410242700" class="text-light">0410242700</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-envelope me-2" style="black"></i>
                            <a href="mailto:suresh@smartchoicemortgageandfinance.com.au" class="text-light">
                                suresh@smartchoice<wbr>mortgageandfinance.com.au
                            </a>  
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-map-marker-alt me-2"></i>
                            <a href="https://www.google.com/maps?q=222+Epping+Road+Wollert,VIC+3750" target="_blank" class="text-light">222 Epping Road Wollert, VIC 3750</a>
                        </li>
                    </ul>    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of footer -->

<style>
    .footer a:hover,
    .footer i:hover {
        color: #00bfff !important;
    }



</style>
