
<!-- Information -->
    
    <section class="information" style="transform: scale(0.9); transform-origin: top center; width: 111.11%; margin: 0 -5.555%;">
    <h1 class="headline" style="text-align:center;padding-top:3rem;background-color:whitesmoke;"> Our<span class="home_text"> Services </span></h1>
        <div class="container-fluid">  
            <div class="row text-light">
                <div class="row g-lg-1">
                <!-- First Home -->
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-home fa-3x p-2"></i>
                    <h4 class="py-3">Buy Your First Home</h4>
                    <p class="para-light">Take the exciting first step to homeownership with our tailored solutions. We simplify the process for first-time buyers with competitive rates and expert guidance.</p>
                    <br><a class="read-more" href="article.html">Read More</a>
                </div>
                <!-- Land and Construction -->
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-cogs fa-3x p-2"></i>
                    <h4 class="py-3">Land and Construction</h4>
                    <p class="para-light">Build your dream home from the ground up. Our land and construction financing options give you the flexibility to purchase property and fund your building project.</p>
                    <br><a class="read-more" href="#" style="color:whitesmoke;">Read More</a>
                </div>
                <!-- Refinancing -->
                <div class="col-lg-4 text-center p-5 text-dark" data-aos="zoom-in"> 
                    <i class="fas fa-sync-alt fa-3x p-2"></i>
                    <h4 class="py-3">Refinance Your Mortgage</h4>
                    <p class="para-light">Lower your payments or access your home's equity. Refinancing can help you save money or achieve other financial goals with better loan terms.</p>
                    <br><a class="read-more" href="#">Read More</a>
                </div>
                </div> <!-- end of row -->
            </div>

            <div class="row text-light">
                <div class="row g-lg-1">
                <!-- Off the Plan Purchase -->
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-building fa-3x p-2"></i>
                    <h4 class="py-3">Off the Plan Purchase</h4>
                    <p class="para-light">Secure your future property at today's prices. We offer specialized financing for properties still in development, helping you navigate this unique purchase process.</p>
                    <br><a class="read-more" href="#">Read More</a>
                </div>
                <!-- Investment Property -->
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-chart-line fa-3x p-2"></i>
                    <h4 class="py-3">Investment Property</h4>
                    <p class="para-light">Grow your wealth through real estate. Our investment property loans are designed to help you build a profitable portfolio with favorable terms.</p>
                    <br><a class="read-more" href="#" style="color:whitesmoke;">Read More</a>
                </div>
                <!-- Debt Consolidation -->
                <div class="col-lg-4 text-center p-5 text-dark" data-aos="zoom-in"> 
                    <i class="fas fa-credit-card fa-3x p-2"></i>
                    <h4 class="py-3">Debt Consolidation & Loans</h4>
                    <p class="para-light">Simplify your finances by combining debts into one manageable payment. Our consolidation solutions can reduce stress and potentially lower your interest costs.</p>
                    <br><a class="read-more" href="#">Read More</a>
                </div>
                </div> <!-- end of row -->
            </div>
        </div> <!-- end of container -->
    </section> <!-- end of information -->
