<link href="./css/style.css" rel="stylesheet">


    <div class="review-buttons-container">
        <!-- Google Review Button -->
        <a class="review-button mb-2" href="https://www.google.com/maps/place/SmartChoiceMortgageandFinance/reviews" target="_blank">
            <img src="./assets/images/logo/google_logo.png" alt="" class="icon">
            Google REVIEWS
        </a>

        <!-- RateMyAgent Review Button -->
        <a class="review-button mb-2" href="https://www.ratemyagent.com.au/real-estate-agent/suresh-soti-me786/sales/overview" target="_blank">
            <img src="./assets/images/logo/ratemyagent_logo.png" alt="" class="icon">
            RateMyAgent REVIEWS
        </a>
    </div>


<style>

.icon {
    width: 35px; /* Increased width */
    height: 35px; /* Increased height */
}
</style>
