<!-- service pages steps-->
<div class="text-center">
    <h2>Our Simple 6-Step Process</h2>
    <p>We simplify the home loan journey so you know what to expect every step of the way:</p>
    <div class="row justify-content-center mb-4">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow p-4 ">
                <h4>1. Apply for Pre-Approval</h4>
                <p>You (Client) will start property hunting (can do before or wait till getting pre-approval) .</p>
            </div>
            <div class="card shadow p-4 mt-3">
                <h4>2. Property Hunting</h4>
                <p>When you will finalize a property, we request for valuation, Solicitor/ Conveyancer will go through contract, do pest and inspection*, at the meantime we apply formal approval.</p>
            </div>
            <div class="card shadow p-4 mt-3">
                <h4>3. Apply for Final Approval</h4>
                <p>Bank will issue a formal approval, if everything goes well.</p>
            </div>
            <div class="card shadow p-4 mt-3">
                <h4>4. Document Preparation</h4>
                <p>Bank will prepare loan documents and send it to us to get signed by our mutual client/s.</p>
            </div>
            <div class="card shadow p-4 mt-3">
                <h4>5. Document Signing</h4>
                <p>We need to sign the loan documents and send it back to the bank.</p>
            </div>
            <div class="card shadow p-4 mt-3">
                <h4>6. Settlement Booked</h4>
                <p>Bank credit team will verify the loan documents and book for a settlement date (On settlement date our, Banks and vendor’s Solicitor/Conveyancer acts and makes it happened). </p>
            </div>
        </div>
    </div>
    <a class="btn btn-tertiary" href="Booking.html">Book Now</a>
</div>
