<!-- Services -->
<section class="services d-flex align-items-center py-5 my-5" id="services">
    <div class="container text-black">
        <div class="text-center pb-4">
            <h2 class="headline text-center pt-3 fs-2">Your <span class="home_text">Financial Freedom</span> Starts Here</h2>
            <h3 class="py-2 fs-5">Our services offer tailored loan solutions to turn your dreams into reality</h3>
        </div>
        <div class="row gy-4 py-2" data-aos="zoom-in">
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-house-user fa-3x p-2"></i>
                    <h4 class="py-2 fs-5">Residential Home Loans</h4>
                    <p class="para-light fs-6">Take the exciting first step to homeownership! Enjoy competitive rates and expert guidance tailored to your dream house.</p>
                    <a class="read-more" href="service_residential_home_loans.html">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-hammer fa-3x p-2"></i>
                    <h4 class="py-2 fs-5">Construction Loans</h4>
                    <p class="para-light fs-6">Build your dream project from the ground up! Flexible financing and seamless support, makes your vision a reality.</p>
                    <a class="read-more" href="service_construction_loans.html">Read More</a>
                </div>                    
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-chart-bar fa-3x p-2"></i>
                    <h4 class="py-3 fs-5">Investment Property Loans</h4>
                    <p class="para-light fs-6">Grow your real estate portfolio with smart financing solutions. Unlock opportunities and maximize returns effortlessly.</p>
                    <a class="read-more" href="service_investment_property_loans.html">Read More</a>
                </div>                    
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-briefcase fa-3x p-2"></i>
                    <h4 class="py-3 fs-5">Business Loans</h4>
                    <p class="para-light fs-6">Fuel your business ambitions! Tailored funding solutions help you expand, manage and thrive.</p>
                    <a class="read-more" href="service_business_loans.html">Read More</a>
                </div>                    
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-exchange-alt fa-3x p-2"></i>
                    <h4 class="py-3 fs-5">Refinance Options</h4>
                    <p class="para-light fs-6">Unlock better rates or access equity! Restructure your loan for smarter financial freedom.</p>
                    <a class="read-more" href="service_refinance_options.html">Read More</a>
                </div>                    
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent text-center">
                    <i class="fas fa-car-alt fa-3x p-2"></i>
                    <h4 class="py-3 fs-5">Car, Personal & SMSF Loans</h4>
                    <p class="para-light fs-6">Achieve your personal and investment goals! Flexible financing designs to your unique needs.</p>
                    <a class="read-more" href="service_car_personal_SMSF_Loans.html">Read More</a>
                </div>                    
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of services -->