    <!-- Information useful tools -->
    <section class="information" id="useful-tools">
        <div class="container-fluid">
        <h1 class="headline" style="text-align:center;padding-top:3rem;"><span class="home_text">Financial Power</span> Tools</h1>
        <h2 class="py-2" style="text-align:center;">Calculate, Plan and Achieve Your Money Goals</h2>
            <div class="row text-light">
                <div class="col-lg-4 text-center p-5" data-aos="zoom-in">
                    <i class="fas fa-calculator fa-3x p-2"></i>
                    <h4 class="py-3">Borrowing Capacity</h4>
                    <p class="para-light">I want to understand how much I can borrow to purchase a property.</p>
                    <br><a class="read-more" href="Mortgage_calculator.html">Check Borrowing Capacity</a>                
                </div>
                <div class="col-lg-4 text-center p-5"  data-aos="zoom-in">
                    <i class="fas fa-cogs fa-3x p-2"></i>
                        <h4 class="py-3">Financial Calculators</h4>
                        <p class="para-light">Explore our range of financial calculators to assist with your planning.</p>
                        <br><a class="read-more" href="financial_calculator.html">Explore Calculators</a>             
                </div>
                <div class="col-lg-4 text-center p-5 text-dark"  data-aos="zoom-in"> 
                    <i class="fas fa-phone fa-3x p-2"></i>
                    <h4 class="py-3">Book an Appointment</h4>
                    <p class="para-light">I would like to book an appointment to speak to someone about my situation.</p>
                    <br><a class="read-more" href="appointment_booking.html">Book a free Appointment</a>                
                </div>
            </div>
        </div> <!-- end of container -->
    </section> <!-- end of information -->