<!-- Work -->
<section class="work d-flex align-items-center py-5" style="background-color: #f8f9fa;padding-top: 6rem;" id="work">
    <div class="container-fluid text-black" data-aos="fade-up">
        <div class="row text-center">
            <div class="col-12">
<h2 class="headline" style="text-align:center;padding-top:1rem;padding-bottom:2rem;">Our <span class="home_text">Track Record</span></h2>
        </div>
        </div>
        <div class="row align-items-start">
            <div class="col-lg-6 d-flex align-items-start" data-aos="fade-right">
                <img class="img-fluid" src="./assets/images/SmartChoiceMortgageandFinance_work.jpg" alt="Smart Choice Mortgage and Finance">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-start px-4 py-3">
                <div class="text-start py-4 pt-lg-0">
                    <h2 class="py-2">Smarter Finance Starts Here</h2>
                    <p class="para-black" style="color:var(--secondary);">
                        At Smart Choice Mortgage and Finance, we simplify the home financing journey. From first-time buyers to refinancing solutions, we offer smart, reliable guidance every step of the way.
                    </p>
                </div>
                <div class="container" data-aos="fade-up">
                    <div class="row g-5">
                        <div class="col-6 text-start">
                            <i class="fas fa-home fa-2x text-start"></i>
                            <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1258" data-purecounter-duration="3">20+</h2>
                            <p>LOANS APPROVED</p>
                        </div>
                        <div class="col-6">
                            <i class="fas fa-award fa-2x"></i>
                            <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="3">5</h2>
                            <p>AWARDS</p>
                        </div>
                        <div class="col-6">
                            <i class="fas fa-users fa-2x"></i>
                            <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1255" data-purecounter-duration="3">25</h2>
                            <p>HAPPY CLIENTS</p>
                        </div>
                            <div class="col-6">
                                <i class="fas fa-star fa-2x"></i>
                                <h2 class="purecounter" data-purecounter-start="0" data-purecounter-end="1157" data-purecounter-duration="3">32</h2>
                                <p>STAR REVIEWS</p>
                            </div>
                        </div>
                    </div> <!-- end of container -->
                </div> <!-- end of row -->
            </div> <!-- end of col-lg-5 -->
        </div> <!-- end of row -->
    </div>
</div>    
        